nvidia-cuda-nvrtc==13.1.115
aiofiles==25.1.0
platformdirs==4.9.2
comm==0.2.3
nvidia-cublas==13.2.1.1
ml_dtypes==0.5.4
pyyaml_env_tag==1.1
psutil==7.2.2
Markdown==3.10.2
nvidia-cuda-runtime==13.1.80
PyYAML==6.0.3
Jinja2==3.1.6
ipython_pygments_lexers==1.1.1
executing==2.2.1
mergedeep==1.3.4
markdown-it-py==4.0.0
mkdocs-get-deps==0.2.0
sentry-sdk==2.53.0
protobuf==6.33.5
nvidia-cuda-crt==13.1.115
babel==2.18.0
nvidia-cufft==12.1.0.78
nvidia-cusolver==12.0.9.81
certifi==2026.2.25
pyzmq==27.1.0
pydantic_core==2.41.5
stack-data==0.6.3
click==8.3.1
annotated-types==0.7.0
ipython==9.10.0
jedi==0.19.2
nvidia-cuda-cccl==13.1.115
setuptools==81.0.0
ptyprocess==0.7.0
jax-cuda13-pjrt==0.9.0.1
flax==0.12.3
fonttools==4.61.1
uvloop==0.22.1
nvidia-cuda-nvcc==13.1.115
griffelib==2.0.0
humanize==4.15.0
wcwidth==0.6.0
pymdown-extensions==10.21
widgetsnbextension==4.0.15
pexpect==4.9.0
jaxtyping==0.3.9
JaxPM==0.0.1
jupyter_client==8.8.0
scipy==1.17.1
etils==1.13.0
Pygments==2.19.2
wandb==0.25.0
packaging==26.0
debugpy==1.8.20
orbax-checkpoint==0.11.33
nvidia-cuda-cupti==13.1.115
dataclasses-json==0.6.7
marshmallow==3.26.2
mkdocs-autorefs==1.4.4
matplotlib==3.10.8
GitPython==3.1.46
wheel==0.46.3
ghp-import==2.1.0
tensorstore==0.1.81
decorator==5.2.1
SciencePlots==2.2.1
jaxlib==0.9.0.1
typing-inspection==0.4.2
tornado==6.5.4
kiwisolver==1.4.9
watchdog==6.0.0
tabulate==0.9.0
cycler==0.12.1
matplotlib-inline==0.2.1
mypy_extensions==1.1.0
optax==0.2.7
mkdocstrings==1.0.3
jax-cuda13-plugin==0.9.0.1
jax-cosmo==0.1.0
pathspec==1.0.4
smmap==5.0.2
idna==3.11
gitdb==4.0.12
requests==2.32.5
nvidia-nvshmem-cu13==3.5.19
ipykernel==7.2.0
typing-inspect==0.9.0
opt_einsum==3.4.0
nvidia-cudnn-cu13==9.19.1.2
nvidia-nvvm==13.1.115
mkdocs==1.6.1
nest-asyncio==1.6.0
nvidia-nccl-cu13==2.29.3
narwhals==2.17.0
asttokens==3.0.1
urllib3==2.6.3
jmp==0.0.4
jupyter_core==5.9.1
pyparsing==3.3.2
absl-py==2.4.0
pure_eval==0.2.3
importlib_resources==6.5.2
fsspec==2026.2.0
treescope==0.1.10
pip==26.0.1
wadler_lindig==0.1.7
nvidia-nvjitlink==13.1.115
parso==0.8.6
jax==0.9.0.1
MarkupSafe==3.0.3
colorama==0.4.6
orbax-export==0.0.8
simplejson==3.20.2
jupyterlab_widgets==3.0.16
traitlets==5.14.3
nvidia-cusparse==12.7.3.1
contourpy==1.3.3
six==1.17.0
prompt_toolkit==3.0.52
typing_extensions==4.15.0
mkdocstrings-python==2.0.3
zipp==3.23.0
mkdocs-material==9.7.4
dm-haiku==0.0.16
pydantic==2.12.5
mkdocs-material-extensions==1.3.1
ipywidgets==8.1.8
python-dateutil==2.9.0.post0
paginate==0.5.7
pillow==12.1.1
mdurl==0.1.2
msgpack==1.1.2
rich==14.3.3
backrefs==6.2
plotly==6.5.2
numpy==2.3.5
charset-normalizer==3.4.4
tqdm==4.67.3
backports.tarfile==1.2.0
tomli==2.4.0
jaraco.text==4.0.0
packaging==26.0
wheel==0.46.3
jaraco.functools==4.4.0
autocommand==2.2.2
platformdirs==4.4.0
more-itertools==10.8.0
jaraco.context==6.1.0
importlib_metadata==8.7.1
zipp==3.23.0
